<h1>New Address Entry</h1>

<form
	name='form'
	class='form'
	ng-submit='address.submit()'
	novalidate>
	<div class='form-group'
		ng-class='{
			"has-error": form.name.$dirty && form.name.$invalid,
			"has-success": form.name.$dirty && form.name.$valid
			}'>
		<label for='name' class='form-label'>Name</label>
		<input
			type='text'
			id='name'
			name='name'
			class='form-control'
			placeholder='Somebody Somethington'
			ng-model='address.person.name'
			required
		/>
	</div>
	<div class='form-group'
		ng-class='{
			"has-error": form.phone.$dirty && form.phone.$invalid,
			"has-success": form.phone.$dirty && form.phone.$valid
			}'>
		<label for='phone' class='form-label'>Phone</label>
		<input
			type='text'
			id='phone'
			name='phone'
			class='form-control'
			placeholder='1234567890'
			ng-model='address.person.phone'
			required
		/>
	</div>
	<div class='form-group'
		ng-class='{
			"has-error": form.email.$dirty && form.email.$invalid,
			"has-success": form.email.$dirty && form.email.$valid
			}'>
		<label for='email' class='form-label'>Email</label>
		<input
			type='email'
			id='email'
			name='email'
			class='form-control'
			placeholder='somebody@email.com'
			ng-model='address.person.email'
			required
		/>
	</div>
	<div class='form-group'>
		<label class='form-label'>Twitter</label>
		<input
			type='text'
			id='twitter'
			name='twitter'
			class='form-control'
			placeholder='@somebody_is_cool'
			ng-model='address.person.twitter' />
	</div>

	<button class='btn btn-danger'>
		Cancel
	</button>
	<button type='submit' class='btn btn-success' ng-disabled='form.$invalid' href="#/addresses">
		Submit
	</button>

</form>
