<div class="container-fluid">
	<div class="row">
		<div class="column col-lg-6 col-lg-offset-3">
			<h1>Login</h1>
			<form>

				<div class="form-group">

					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" name="email" id="email" ng-model="auth.user.email">

					<label for="password" class="form-label">Password</label>
					<input type="text" class="form-control" name="password" id="password" ng-model="auth.user.password">

				</div>

				<a href="" class="btn btn-warning">Register</a>
				<a href="" class="btn btn-primary" type="submit" ng-click="auth.login()">Login</a>

			</form>
		</div>
	</div>
</div>
